html {
    font-family: 'Carrois Gothic', sans-serif; /* all text, unless otherwise specified */
    background-color: whitesmoke;
    min-width: 100%;
    height: 100%; /* makes sure our html takes up 100% of the browser window */
}



/* Top navigation header */
nav {
    display: block;
    font-size: 16px;
/*    color: #420D4F;*/
    color: whitesmoke;
    text-align: center; /* aligns div elements and their contents to center */
/*    background-color: whitesmoke;*/
    background-color: #420D4F;
    position: fixed; /* fixed use left and top/bottom */
    left: 0px;
    top: 0px;
    width: 100%;
    height: 60px;
    border-bottom: 5px solid #420D4F;
    z-index: 1; /* higher than main */
}
/* left half for logo, name, job title */
#nav-left {
    position: fixed; /* fixed use left and top/bottom */
    left: 0px;
    top: 0px;
    text-align: left;
    display: inline-block;
    width: 49%;
    height: 60px;
}
#nav-logo {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}
#logo {
    max-height: 50px;
    max-width: 50px;
}
#nav-name {
    display: inline-block;
    padding: 0;
}
#myname {
/*    font-family: 'Julius Sans One', sans-serif;*/
    font-family: 'Fauna One', serif;
/*    color: black;*/
    color: white;
    padding: 10px 0 0 0;
    margin: 0;
}
#myrole {
/*    font-family: 'Julius Sans One', sans-serif;*/
    font-family: 'Fauna One', serif;
/*    color: black;*/
    color: white;
    padding: 0 0 10px 0;
    margin: 0;
}
#nav-left a {
    color: whitesmoke;
/*    color: #420D4F;*/
    text-decoration: none;
}
/* right half for links */
#nav-right {
    position: fixed; /* fixed use left and top/bottom */
    right: 0px;
    text-align: right;
    padding-top: 20px;
    padding-right: 3px;
    width: 49%;
    height: 40px; /* padding top 20px + height 40px = 60px */
}
#nav-right a {
    color: #a086a7;
    text-decoration: none;
    padding-right: 15px;
}
#nav-right a:hover,
#active-nav-link {
    color: white;
/*    color: #420D4F;*/
}








/* all pages */
a {
    text-decoration: none;
    color: #420D4F;
}

.one-half { /* 49*2 = 98% */
    display: inline-block;
    width: 49%;
}
.one-third { /* 32.5*3 = 97.5% */
    display: inline-block;
    width: 32.5%;
}
.one-quarter { /* 24.5*4 = 98% */
    display: inline-block;
    width: 24.5%;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.button {
    background-color: #c9452b;
    width: 150px;
    text-align: center;
    color: white;
    padding: 8px;
    margin: 5px;
    border-radius: 8px;
    box-shadow:  5px 5px 5px lightgray;
}
.button-link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}








main {
    padding: 60px 5px;
    background-color: white;
    width: 95%;
    max-width: 1200px;
    margin: auto;
}
main h1 {
    font-family: 'Julius Sans One', sans-serif;
}
main h2 {
/*    border-bottom: 3px solid #c9452b;*/
/*    clear: both;*/
}
main p {
    max-width: 40em;
}
main img {
    max-width: 300px;
    max-height: 300px;
/*    background-color: whitesmoke;*/
}
main a:hover {
    text-decoration: underline;
}
main .one-third {
    display: inline-block;
    widows: 32%;
    vertical-align: middle;
/*    background-color: white;*/
}
main .half-right-align {
    display: inline-block;
    width: 49%;
    text-align: right;
    vertical-align: middle;
}
main .half-left-align {
    display: inline-block;
    width: 49%;
    text-align: left;
    vertical-align: middle;
}





#main-home-page {
    margin: auto;
    text-align: center;
}
#main-home-page h2 {
    padding: 30px 0 0 0;
}

#main-home-page img {
    height: 100px;
    width: 100px;
    border-radius: 100px; /* match height/width for circle */
}
#main-home-page p {
    max-width: 500px;
    margin: auto;
    padding-top: 5px;
}
#main-home-page a:hover {
    text-decoration: none;
}






#main-projects-home img {
    height: 200px;
    width: 200px;
}
#main-projects-home .box {
/*    border: 1px solid #c9452b;*/
    height: 300px;
/*    display: inline-block;*/
    text-align: center;
}
#main-projects-home a {
    text-transform: none;
}
#main-projects-home .project-box {
    padding: 20px 0;    
    color: #420D4F;
}
#main-projects-home div.transbox {
    background-color: white;
    opacity: 0.9;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}
#main-projects-home .projects-page-image {
    padding: 10px;
    margin: 2px;
    border: 3px solid #420D4F;
    box-shadow:  5px 5px 5px lightgray;
}