/* MAIN.CSS is for GLOBAL styles */

html {
    font-family: 'Carrois Gothic', sans-serif;
    background-color: whitesmoke;
    min-width: 100%;
    height: 100%; /* makes sure our html takes up 100% of the browser window */
}

nav {
    display: block;
    font-family: 'Basic', sans-serif;
    font-size: 16px;
    color: #420D4F;
    text-align: center; /* aligns div elements and their contents to center */
    background-color: whitesmoke;
    position: fixed; /*fixed use left and top/bottom */
    left: 0px;
    top: 0px;
    width: 100%;
    height: 60px;
    border-bottom: 5px solid #420D4F;
}

nav a {
    color: #a086a7;
    text-decoration: none;
}
nav a:hover,
#active-nav-link {
    color: #420D4F;
}
#logo {
    float: left;
}
#myname {
    font-family: 'Julius Sans One', sans-serif;
    color: black;
}



main {
    padding: 60px 5px;
    background-color: white;
    width: 95%;
    max-width: 1200px;
    margin: auto;
}



.one-half { /* 49*2 = 98% */
    display: inline-block;
    width: 49%;
}
.one-third { /* 32.5*3 = 97.5% */
    display: inline-block;
    width: 32.5%;
}
.one-quarter { /* 24.5*4 = 98% */
    display: inline-block;
    width: 24.5%;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}