#main-projects-home img {
    max-height: 100px;
    max-width: 100px;
}

h1 {
    font-family: 'Boogaloo', cursive;
}
h2 {
    border-bottom: 3px solid #BF5217;
}
p {
    max-width: 40em;
}
main img {
    max-width: 300px;
    max-height: 300px;
}