/* show all projects page*/
#main-projects-home img {
    height: 200px;
    width: 200px;
}
#main-projects-home h2 {
    border-bottom: none;
}
#main-projects-home .box {
/*    border: 1px solid #BF5217;*/
    height: 300px;
/*    display: inline-block;*/
    text-align: center;
}
#main-projects-home a {
    text-transform: none;
}
.one-half { /* 49*2 = 98% */
    display: inline-block;
    width: 49%;
}
.one-third { /* 32.5*3 = 97.5% */
    display: inline-block;
    width: 32.5%;
}
.one-quarter { /* 24.5*4 = 98% */
    display: inline-block;
    width: 24.5%;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}



/* each project page */
main h1 {
    font-family: 'Boogaloo', cursive;
}
main h2 {
    border-bottom: 3px solid #BF5217;
    clear: both;
}
main p {
    max-width: 40em;
}
main img {
    max-width: 300px;
    max-height: 300px;
/*    background-color: whitesmoke;*/
}
.project-box {
    padding: 20px 0;    
    color: #420D4F;
}
.project-box a {
    color: #420D4F;
    text-decoration: none;
}
div.transbox {
    background-color: white;
    opacity: 0.9;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}


.projects-page-image {
    padding: 10px;
    margin: 2px;
    border: 3px solid #420D4F;
    box-shadow:  5px 5px 5px lightgray;
    
}
main .one-third {
    display: inline-block;
    widows: 32%;
    vertical-align: middle;
/*    background-color: white;*/
}
main .half-right-align {
    display: inline-block;
    width: 49%;
    text-align: right;
    vertical-align: middle;
}
main .half-left-align {
    display: inline-block;
    width: 49%;
    text-align: left;
    vertical-align: middle;
}
.button {
    background-color: #BF5217;
    width: 150px;
    text-align: center;
    color: white;
    padding: 8px;
    margin: 5px;
    border-radius: 8px;
    box-shadow:  5px 5px 5px lightgray;
}
.button-link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}