/*
main purple: #420D4F
button color: #c9452b
*/
html {
    font-family: 'Carrois Gothic', sans-serif; /* all text, unless otherwise specified */
    background-color: whitesmoke;
    min-width: 100%;
    height: 100%; /* makes sure our html takes up 100% of the browser window */
}




/* all pages */
a {
    text-decoration: none;
    color: #420D4F;
}
.one-half { /* 49*2 = 98% */
    display: inline-block;
    width: 49%;
}
.one-third { /* 32*3 = 96% */
    display: inline-block;
    width: 32%;
}
.one-quarter { /* 24*4 = 96% */
    display: inline-block;
    width: 24%;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
/* a.button-link is outside of div.button */
.button-link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.button-link:hover {
    text-decoration: none;
}
.button {
    background-color: #c9452b;
    transition: opacity 0.3s ease; /* work with :hover to ease into 90% of color */
    width: 150px;
    text-align: center;
    color: white;
    padding: 8px;
    margin: 5px;
    border-radius: 8px;
/*    box-shadow:  5px 5px 5px lightgray;*/
}
.button:hover {
    opacity: 0.9;
}
.print-only {
    display: none;
}








main {
    padding: 60px 5px 10px 5px;
    background-color: white;
    width: 100%;
    max-width: 900px; /* previous 1200px; */
    margin: auto; /* center on page */
}
main h1 {
    font-family: 'Julius Sans One', sans-serif;
/*    font-family: 'Fauna One', serif;*/
}
main h2 {
/*    border-bottom: 3px solid #c9452b;*/
/*    clear: both;*/
    padding-top: 40px;
}
main .inline-text-link {
    text-decoration: underline;
}
main .inline-text-link:hover {
    text-decoration: underline;
    background-color: #420D4F;
    color: white;
}

main .one-half,
main .one-third {
    display: block;
    margin: auto;
}
@media (min-width: 585px) {
    main .one-half,
    main .one-third { /* 49*2 = 98% */
        display: inline-block;
        width: 49%;
    }
}
@media (min-width: 770px) {
    main .one-third {
        display: inline-block;
        width: 32%;
        vertical-align: middle;
    }
}






/* INDEX.HTML */
#main-home-page a {
    color: black;
}
#main-home-page {
    margin: auto;
    text-align: center;
}
#main-home-page h2 {
    padding: 30px 0 0 0;
}
#main-home-page img {
    height: 100px;
    width: 100px;
    border-radius: 100px; /* match height/width for circle */
    margin: 0 5px;
}
#main-home-page p {
    max-width: 500px;
    margin: auto;
    padding-top: 5px;
}
#main-home-page a:hover {
    text-decoration: none;
}
#main-home-page .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}
#main-home-page .tabcontent {
    height: 40px;
}



/* ABOUTME.HTML */
#about-me-img {
    max-width: 100%;
    max-height: 100%;
    padding: 0 0 8px 8px;
}
@media (min-width: 585px) {
    #about-me-img {
        float: right;
        max-width: 400px;
    }
}


/* RESUME.HTML github, invision, email buttons */
#main-resume .button,
main .button-fa {
    width: 50px;
    display: inline-block;
}






/* For screen widths of 700px and wider show 2 columns for paragraphs */
@media all and (min-width: 600px) {
    .main-project p {
        text-align: justify;
        -webkit-column-count: 2;
        -webkit-column-gap: 30px; /* Safari 3, Chrome*/
        -moz-column-count: 2;   
        -moz-column-gap: 30px; /* Firefox 3.5+ */
        column-count: 2;        
        column-gap: 30px; /* Opera 11+*/
      }
    .main-project p.no-columns {
        text-align: left;
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}
