@media print {

    html {
        background-image: none;
        background-color: transparent;
    }
    nav, footer {
        display: none;
    }
    main {
        padding-top: 0;
        padding-bottom: 0;
    }
     a:after{
         content: " (" attr(href) ") ";
         font-size: 0.8em;
         font-weight: normal;
    }

}