 /* #420D4F; */

#main-projects-home .project-box {
    margin-bottom: 40px; /* margin is outside of border */
}
#main-projects-home h2,
#main-projects-home .button {
    text-transform: uppercase;
}
#main-projects-home .img {
    margin-top: 20px; /* margin is outside of border */
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
    width: 100%;
    height: 250px;
}
#img-property-management {
    background-image: url('portfolio/projects/property-management/property-open.png');
}
#img-city-style {
    background-image: url('projects/city-style-tshirts/citystyle-open.png');
}
#img-paycrave {
    background-image: url('projects/paycrave/paycrave-open.png');
    background-position: center; 
}
#img-bloc-it-off {
    background-image: url('projects/bloc-it-off/blocitoff-open.png');
}
#img-blocjams {
    background-image: url('projects/blocjams/blocjams-open.png');
}





/* FOR DEVICES UNDER 700 PIXELS WIDE */
#main-projects-home .one-half {
    display: block;
    width: 100%;
    vertical-align: bottom;
}
#main-projects-home .text {
    
}
/* FOR DEVICES AT LEAST 700 PIXELS WIDE
we will NOT use the hamburger icon to click left navigation menu in/out 
we will have the left navigation menu fixed on screen */
@media (min-width: 700px) {
    #main-projects-home .one-half {
    display: inline-block;
    width: 49%;
    }
    #main-projects-home .text {
        padding-left: 20px;
    }
}