.carouselbox, .carouselbox .content{
    text-align: center;
}
.carouselbox .buttons div {
    display: inline-block;
    width: 90px;
    background-color: #420D4F;
    color: white;
    position: relative;
    text-transform: uppercase;
    padding: 5px; /* between text and border */
    margin: 3px; /* between border and next element */
    border-radius: 8px;
    box-shadow:  5px 5px 5px lightgray;
}
.carouselbox figure {
    display: none;
}
.carouselbox a {
    text-decoration: none;
}
.carouselbox figure.current {
    border: none;
    display: block;
}