.carouselbox, .carouselbox .content{
    text-align: center;
    font-size: 12px;
}
.carouselbox .controls div {
    display: inline-block;
}
.carouselbox .button,
.carouselbox .dots .dot {
    display: inline-block;
    width: 70px;
    background-color: #420D4F;
    color: white;
    position: relative;
    text-transform: uppercase;
    padding: 5px; /* between text and border */
    margin: 3px; /* between border and next element */
    border-radius: 8px;
/*    box-shadow:  5px 5px 5px lightgray;*/
    cursor: pointer;
    font-size: 10px;
}
.carouselbox .dots .dot {
    width: 12px;
    padding: 0;
    border-radius: 20px;
    color: whitesmoke;
    background-color: whitesmoke;
    border: 1px solid #420D4F;
    cursor: default;
}
.carouselbox .dots .current {
    background-color: #420D4F;
    color: #420D4F;
}
.carouselbox figure {
    display: none;
}
.carouselbox a {
    text-decoration: none;
}
.carouselbox figure.current {
    border: none;
    display: block;
}